[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pdbpp = "*"
pytest = "*"
flake8 = "*"
flake8-bugbear = "*"
pep8-naming = "*"
# black = "*"

[packages]
requests = "*"

[requires]
python_version = "3.7"
